.env
__pycache__/
node_modules
package-lock.json
*.pyc
*.pyo
.venv/
.pytest_cache
venv/
env/
dist/
build/
*.egg-info/
.eggs/
*.db
src/__main__.py
.zed
src/static/img
pyrightconfig.json
scripts/migrate*
.DS_Store
